# Projeto_de_ciência_dos_dados-Organizações_Internacionais

## Jonas da Silva Lopes - Turma "A"

## A hipótese a ser testada:

Há uma ideia que está no senso comum das pessoas atualmente, a de que países mais ricos ou desenvolvidos tendem a possuir um maior índice de suícidio. Essa proposição pode ser comprovada analisando os países integrantes da União Europeia e os comparando a outros países Europeu que não fazem parte dele?

## Mecanismo

Os países que são mais desenvolvidos, como no caso dos países que formam a União Europeia em sua maioria, tendem a exigirem demandas cada vez maias altas de sucesso pessoal, seja: profissional, interpessoal, acadêmico, financeiro, entre outros. Essa coerção em uma nação cria uma pressão no psiccológico de cada pessoa, o que as faz pensar que seu único objetivo de vida seja alcançar o sucesso nessas áreas da vida, assim por muitas vezes pesoas que "falham" com suas metas,ou que pensar que essas são inalcançáveis tiram suas próprias vidas, tendo em vista que seus únicos objetivos na vida não podem ser alcançados. Logo, pode-se afirmar que o desenvolvimento dos países da União Europeia aumenta a incidência de suicídios neles.

## Imports

In [3]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import os
import pandas as pd

## Importando os dados que serão utilizados

In [4]:
suicidio_porcemm = pd.read_excel(r'C:\Users\User\Documents\Facul\Primeiro ano\Segundo semestre\Ciência dos dados\Projeto 1\Trabalho_de_C_dados\Taxas_de_sucidio\suicidio(por100000).xlsx')

## Separar os países que serão utilizados na análise

In [6]:
suicidio_analise = suicidio_porcemm[(suicidio_porcemm.pais=='Russia') | (suicidio_porcemm.pais=='Monaco') | (suicidio_porcemm.pais=='Switzerland') | (suicidio_porcemm.pais=='Ukraine') | (suicidio_porcemm.pais=='Armenia') | (suicidio_porcemm.pais=='Belarus') | (suicidio_porcemm.pais=='Serbia') | (suicidio_porcemm.pais=='Norway') | (suicidio_porcemm.pais=='United Kingdom') | (suicidio_porcemm.pais=='France') | (suicidio_porcemm.pais=='Germany') | (suicidio_porcemm.pais=='Italy') | (suicidio_porcemm.pais=='Portugal') | (suicidio_porcemm.pais=='Spain') | (suicidio_porcemm.pais=='Sweden') | (suicidio_porcemm.pais=='Denmark')]
suicidio_analise

,pais,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
7,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.223157,NaN,3.741588,3.741588
15,Belarus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,31.744790,31.842110,30.932790,31.281840,29.603200,29.543020,30.529280,31.082212,26.874690
48,Denmark,NaN,22.570010,21.804170,22.972080,22.081500,22.078390,21.210380,20.656020,19.636020,...,13.633720,12.453140,11.693580,11.882270,10.960500,10.745450,10.184290,9.329547,10.061660,8.973104
62,France,13.159920,NaN,13.292350,13.181410,13.929290,13.754610,14.989170,14.171770,14.285470,...,15.994840,15.632120,14.812090,14.382180,14.992610,14.450220,14.594050,14.751860,14.498240,14.091530
66,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.750190,11.739830,11.171640,10.626030,10.416160,10.440230,10.304270,10.222210,9.719625,9.211085
84,Italy,NaN,6.741952,6.215577,6.314083,5.898098,6.432989,6.478650,6.252029,5.940865,...,6.348938,6.265896,5.947945,5.439456,5.431369,5.298044,5.341180,5.234479,5.313702,4.930045
116,Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.558900,NaN,11.151073,11.151073
130,Norway,NaN,5.949848,6.338094,6.933944,6.780933,6.805039,6.656648,6.653730,6.561034,...,10.799500,10.911380,11.609420,12.415990,11.440050,11.287680,9.992784,10.351830,10.723570,10.823000
140,Portugal,NaN,NaN,NaN,NaN,NaN,9.764024,10.681050,8.586464,9.343464,...,4.892168,4.765046,4.110432,3.881602,3.696454,5.546455,8.800402,8.100833,8.188375,8.188375
143,Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.319980,34.265650,32.098950,35.323950,35.243240,35.492730,34.110000,31.460930,29.862620,27.874160
153,Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15.069860,16.050710,15.500490,14.464640,14.248100,13.748880,12.977210,13.716340
163,Spain,NaN,6.002937,6.088732,6.044108,5.903178,5.536589,5.309540,5.280958,5.039659,...,6.783312,6.762559,6.459838,6.210190,6.479599,5.983665,6.222061,6.301854,6.247683,5.888479
168,Sweden,NaN,14.559920,14.895690,16.389750,14.801100,15.539320,17.589020,17.438320,14.900010,...,11.831330,11.521100,11.325280,11.586610,10.501980,10.845640,10.970880,10.374560,10.686620,11.115830
169,Switzerland,NaN,19.605260,19.823150,20.137580,20.834220,19.630450,19.803640,19.266230,19.415900,...,16.736950,15.490800,15.631220,14.635560,15.417550,14.582220,15.455050,13.219850,13.094760,13.239810
183,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.434110,25.971420,25.860710,25.199710,25.467250,23.247700,22.229000,21.832790,20.045540,18.954570
185,United Kingdom,8.116419,8.081386,7.789029,8.469019,8.928727,8.922245,9.326525,9.353084,9.391340,...,6.430166,6.425081,6.826987,6.817769,6.589573,6.352021,6.370787,6.055770,6.271399,6.014659