# Projeto_de_ciência_dos_dados-Organizações_Internacionais

## Jonas da Silva Lopes

## O tema principal do projeto:

Os países da União Europeia tendem a possuir mais incideência de suicídios aos países europeuss que não participam?

## Imports

In [13]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import os
import pandas as pd

## Importando os dados que serão utilizados

In [18]:
suicidio_total = pd.read_excel(r"C:\Users\User\Documents\Facul\Primeiro ano\Segundo semestre\Ciência dos dados\Projeto 1\Trabalho_de_C_dados\Taxas_de_sucidio\total_suicidios.xlsx")
suicidio_porcemm = pd.read_excel(r'C:\Users\User\Documents\Facul\Primeiro ano\Segundo semestre\Ciência dos dados\Projeto 1\Trabalho_de_C_dados\Taxas_de_sucidio\suicidio(por100000).xlsx')

## Separar os países que pertencem a União Europeia

Neste projeto será utilizado os países mais influentes dessa organização

In [30]:
pais_uniao_total = suicidio_total[(suicidio_total.pais=='United Kingdom') | (suicidio_total.pais=='France') | (suicidio_total.pais=='Germany') | (suicidio_total.pais=='Italy') | (suicidio_total.pais=='Portugal') | (suicidio_total.pais=='Spain') | (suicidio_total.pais=='Sweden') | (suicidio_total.pais=='Denmark')]
pais_uniao_porcemm = suicidio_porcemm[(suicidio_porcemm.pais=='United Kingdom') | (suicidio_porcemm.pais=='France') | (suicidio_porcemm.pais=='Germany') | (suicidio_porcemm.pais=='Italy') | (suicidio_porcemm.pais=='Portugal') | (suicidio_porcemm.pais=='Spain') | (suicidio_porcemm.pais=='Sweden') | (suicidio_porcemm.pais=='Denmark')]

## Separar os países que não fazem parte da União Europeia.

In [29]:
pais_out_total = suicidio_total[(suicidio_total.pais=='Russia') | (suicidio_total.pais=='Monaco') | (suicidio_total.pais=='Switzerland') | (suicidio_total.pais=='Ukraine') | (suicidio_total.pais=='Armenia') | (suicidio_total.pais=='Belarus') | (suicidio_total.pais=='Serbia') | (suicidio_total.pais=='Norway')]
pais_out_porcemm = suicidio_porcemm[(suicidio_porcemm.pais=='Russia') | (suicidio_porcemm.pais=='Monaco') | (suicidio_porcemm.pais=='Switzerland') | (suicidio_porcemm.pais=='Ukraine') | (suicidio_porcemm.pais=='Armenia') | (suicidio_porcemm.pais=='Belarus') | (suicidio_porcemm.pais=='Serbia') | (suicidio_porcemm.pais=='Norway')]

## Setar o índice como sendo o nome dos países

Esse processo exclui informações não necessárias, além de facilitar a visualização dos dados

In [32]:
uniao_total_set = pais_uniao_total.set_index('pais')
uniao_porcemm_set = pais_uniao_porcemm.set_index('pais')
out_total_set = pais_out_total.set_index('pais')
out_porcemm_set = pais_out_porcemm.set_index('pais')

In [35]:
out_total_set

                2002     2004
pais
Armenia        103.0    121.0
Belarus       3796.0   3535.0
Monaco           5.0      4.0
Norway         512.0    534.0
Russia       59015.0  52841.0
Serbia           NaN      NaN
Switzerland   1284.0   1333.0
Ukraine      17520.0  12713.0