# Projeto_de_ciência_dos_dados-Organizações_Internacionais

## Jonas da Silva Lopes

## A hipótese a ser testada:

Há uma ideia que está no senso comum das pessoas atualmente, a de que países mais ricos ou desenvolvidos tendem a possuir um maior índice de suícidio. Essa proposição pode ser comprovada analisando os países integrantes da União Europeia e os comparando a outros países Europeu que não fazem parte dele?

## Mecanismo

Os países que são mais desenvolvidos, como no caso dos países que formam a União Europeia em sua maioria, tendem a exigirem demandas cada vez maias altas de sucesso pessoal, seja: profissional, interpessoal, acadêmico, financeiro, entre outros. Essa coerção em uma nação cria uma psicológica de cada pessoa, o que as faz pensar que seu único objetivo de vida seja alcançar o sucesso nessas áreas da vida, assim por muitas vezes pesoas que "falham" com suas metas,ou que pensar que essas são inalcançáveis tiram suas próprias vidas, tendo em vista que seus únicos objetivos na vida não podem ser alcançados.
Logo, pode-se afirmar que o desenvolvimento dos países da União Europeia aumenta a incidência de suicídios neles.

## Imports

In [61]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import os
import pandas as pd

## Importando os dados que serão utilizados

In [62]:
suicidio_total = pd.read_excel(r"C:\Users\User\Documents\Facul\Primeiro ano\Segundo semestre\Ciência dos dados\Projeto 1\Trabalho_de_C_dados\Taxas_de_sucidio\total_suicidios.xlsx")
suicidio_porcemm = pd.read_excel(r'C:\Users\User\Documents\Facul\Primeiro ano\Segundo semestre\Ciência dos dados\Projeto 1\Trabalho_de_C_dados\Taxas_de_sucidio\suicidio(por100000).xlsx')

## Separar os países que pertencem a União Europeia

Neste projeto será utilizado os países mais influentes dessa organização

In [63]:
pais_uniao_total = suicidio_total[(suicidio_total.pais=='United Kingdom') | (suicidio_total.pais=='France') | (suicidio_total.pais=='Germany') | (suicidio_total.pais=='Italy') | (suicidio_total.pais=='Portugal') | (suicidio_total.pais=='Spain') | (suicidio_total.pais=='Sweden') | (suicidio_total.pais=='Denmark')]
pais_uniao_porcemm = suicidio_porcemm[(suicidio_porcemm.pais=='United Kingdom') | (suicidio_porcemm.pais=='France') | (suicidio_porcemm.pais=='Germany') | (suicidio_porcemm.pais=='Italy') | (suicidio_porcemm.pais=='Portugal') | (suicidio_porcemm.pais=='Spain') | (suicidio_porcemm.pais=='Sweden') | (suicidio_porcemm.pais=='Denmark')]

## Separar os países que não fazem parte da União Europeia.

In [64]:
pais_out_total = suicidio_total[(suicidio_total.pais=='Russia') | (suicidio_total.pais=='Monaco') | (suicidio_total.pais=='Switzerland') | (suicidio_total.pais=='Ukraine') | (suicidio_total.pais=='Armenia') | (suicidio_total.pais=='Belarus') | (suicidio_total.pais=='Serbia') | (suicidio_total.pais=='Norway')]
pais_out_porcemm = suicidio_porcemm[(suicidio_porcemm.pais=='Russia') | (suicidio_porcemm.pais=='Monaco') | (suicidio_porcemm.pais=='Switzerland') | (suicidio_porcemm.pais=='Ukraine') | (suicidio_porcemm.pais=='Armenia') | (suicidio_porcemm.pais=='Belarus') | (suicidio_porcemm.pais=='Serbia') | (suicidio_porcemm.pais=='Norway')]

## Setar o índice como sendo o nome dos países

Esse processo exclui informações não necessárias, além de facilitar a visualização dos dados

In [65]:
uniao_total_set = pais_uniao_total.set_index('pais')
uniao_porcemm_set = pais_uniao_porcemm.set_index('pais')
out_total_set = pais_out_total.set_index('pais')
out_porcemm_set = pais_out_porcemm.set_index('pais')
uniao_porcemm_set

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
pais,,,,,,,,,,,,,,,,,,,,,
Denmark,NaN,22.570010,21.804170,22.972080,22.081500,22.078390,21.210380,20.656020,19.636020,19.808000,...,13.633720,12.453140,11.693580,11.882270,10.960500,10.745450,10.184290,9.329547,10.061660,8.973104
France,13.159920,NaN,13.292350,13.181410,13.929290,13.754610,14.989170,14.171770,14.285470,14.609730,...,15.994840,15.632120,14.812090,14.382180,14.992610,14.450220,14.594050,14.751860,14.498240,14.091530
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.750190,11.739830,11.171640,10.626030,10.416160,10.440230,10.304270,10.222210,9.719625,9.211085
Italy,NaN,6.741952,6.215577,6.314083,5.898098,6.432989,6.478650,6.252029,5.940865,5.978304,...,6.348938,6.265896,5.947945,5.439456,5.431369,5.298044,5.341180,5.234479,5.313702,4.930045
Portugal,NaN,NaN,NaN,NaN,NaN,9.764024,10.681050,8.586464,9.343464,9.703836,...,4.892168,4.765046,4.110432,3.881602,3.696454,5.546455,8.800402,8.100833,8.188375,8.188375
Spain,NaN,6.002937,6.088732,6.044108,5.903178,5.536589,5.309540,5.280958,5.039659,5.153630,...,6.783312,6.762559,6.459838,6.210190,6.479599,5.983665,6.222061,6.301854,6.247683,5.888479
Sweden,NaN,14.559920,14.895690,16.389750,14.801100,15.539320,17.589020,17.438320,14.900010,15.868120,...,11.831330,11.521100,11.325280,11.586610,10.501980,10.845640,10.970880,10.374560,10.686620,11.115830
United Kingdom,8.116419,8.081386,7.789029,8.469019,8.928727,8.922245,9.326525,9.353084,9.391340,9.215195,...,6.430166,6.425081,6.826987,6.817769,6.589573,6.352021,6.370787,6.055770,6.271399,6.014659

## Selecionar um período de anos para ser analisado

A União Eropeia inciou no ano de 1951, assim seria razoável começar a análise a partir de 1950, para ver o comportamento do índice de suícidios anterior a formação do bloco, porém poucos dados estão disponíveis nesse perídodo, . Vale também ressaltar que os paíse da União Europeia tendem a ser muito mais populosos que os paíse que não participam dela, sendo assim o índice de suícidio absolutos se mostra ineficaz.

In [66]:
#k = 1959
#q = 0
#colunas1 = [1]*6
#for year in colunas1:
#    colunas1[q] = k
#    q += 1
#    k += 10
#del colunas1[-1]
#colunas1.append(2005)


i = 1990
j = 0
colunas = [0]*16
for ano in colunas:
    colunas[j]=i
    j += 1
    i += 1


continua_uniao = uniao_porcemm_set.loc[:, colunas]
continua_out = out_porcemm_set.loc[:, colunas]


#tab1_uniao = uniao_porcemm_set.loc[:,colunas1]
#tab1_out = out_porcemm_set.loc[:,colunas1]

continua_out

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
pais,,,,,,,,,,,,,,,,
Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.223157,NaN,3.741588,3.741588
Belarus,19.26921,19.82858,22.24357,26.17479,28.45045,29.04394,NaN,31.74479,31.84211,30.93279,31.28184,29.60320,29.543020,30.52928,31.082212,26.874690
Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.558900,NaN,11.151073,11.151073
Norway,14.02974,14.41485,13.00690,12.28191,11.38587,11.55208,10.79950,10.91138,11.60942,12.41599,11.44005,11.28768,9.992784,10.35183,10.723570,10.823000
Russia,24.66499,24.67332,28.77415,35.33885,38.99647,38.40206,36.31998,34.26565,32.09895,35.32395,35.24324,35.49273,34.110000,31.46093,29.862620,27.874160
Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.06986,16.05071,15.50049,14.46464,14.248100,13.74888,12.977210,13.716340
Switzerland,18.16399,18.71560,17.29281,16.97251,17.73643,16.60126,16.73695,15.49080,15.63122,14.63556,15.41755,14.58222,15.455050,13.21985,13.094760,13.239810
Ukraine,18.52690,18.52185,20.14645,21.44825,23.81222,25.23820,26.43411,25.97142,25.86071,25.19971,25.46725,23.24770,22.229000,21.83279,20.045540,18.954570

Alguns países tem poucos dados, por isso eles não são úteis para a análise

## Retirar países sem dados úteis

Para efetuar esse processo, deve-se reestabelecer os index padrões.